# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ / Android Studio IDE workspace
.idea/
*.iml
*.iws
*.bin
*.lock
*.probe


# MacOS hidden files
.DS_Store
/java_pid81104.hprof
